<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">

<h1 >Código de ética para los estudiantes en línea.</h1>
<br >
<h2 >Disciplina</h2><ul >
	<li >Adquiere nuevos conocimientos y habilidades para hacerlos propios.</li>
	<li >Participa en debates y discusiones en los cursos en línea, con argumentos sólidos.</li>
	<li >Revisa y atiende los requerimientos del curso, para organizar y programar las actividades y tareas.</li>
	<li >Sé persistente al leer, estudiar, investigar, planificar y llevar a cabo el trabajo.</li>
	<li >Aprende y pon en práctica las nuevas habilidades tecnológicas necesarias para las actividades asignadas y la interacción.</li>
</ul><div ><br></div>

<h2 >Reflexión</h2><ul >
	<li >Considera una diversidad de perspectivas y opiniones.</li>
	<li >Participa en debates y discusiones en línea con mensajes reflexivos que sinteticen la información y las ideas.</li>
	<li >Soltar la certidumbre sobre un saber, mirando de nuevo si lo que se piensa que es válido, sigue siéndolo o ya no. (Maturana, 2010)</li>
</ul><div ><br></div>
<h2 >Creatividad</h2><ul >
<li >Contribuye a generar un ambiente en la clase virtual que apoye y fomente la creatividad.</li>
<li >Utiliza el apoyo y las ideas de la comunidad en línea para participar en procesos creativos</li>
</ul><div ><br></div>
<h2 >Respeto</h2><ul >
<li >Trata a tus compañeros de clase y al instructor con cortesía y respeto.</li>
<li >Piensa antes de comunicarte; evita comentarios despectivos, desdeñosos o demasiado críticos.</li>
<li >Apoya a tus compañeros en su aprendizaje, proporcionándoles retroalimentación, recursos e información.</li>
<li >Publica tus dudas en el tablero de Preguntas y respuestas, de tal 
manera que las aclaraciones y soluciones puedan ser revisadas por tus 
compañeros de clase.</li>
<li >Muestra tu agradecimiento a las contribuciones, comentarios y acciones que realicen tus compañeros o el profesor.</li>
<li >Da la bienvenida y valora la diversidad existente entre tus compañeros de clase.</li>
</ul><div ><br></div>
<h2 >Ética</h2><div >
<br></div><ul >
<li >Sé honesto en todas las representaciones que realices acerca de tu trayectoria personal y profesional.</li>
<li >Presenta trabajos que sean realmente elaborados por ti.</li>
<li >Cumple con las leyes de derechos de autor y da el crédito correspondiente al trabajo de los demás.</li>
<li >Sé un miembro activo y confiable en todos los grupos donde participes.</li>
<li >No perjudiques a otros.</li>
<li >Esfuérzate por conseguir la excelencia.</li><li >La ética es el ámbito de las conductas de relación que surgen cuando nos importa lo que le pasa al otro con lo que uno hace, por que al otro o a la otra también le importamos. (Maturana,2010)</li>
</ul><div ><br></div>
<br ><br >

<h1 >Código de ética para los profesores en línea </h1>
<br >
<h2 >Disciplina</h2><div ><br></div><ul >
<li >Establece una fuerte presencia como instructor en el curso en línea.</li>
<li >Comunica tus expectativas y asignaciones con claridad y coherencia.</li>
<li >Facilita el debate y la discusión en los cursos en línea, con argumentos sólidos.</li>
<li >Desarrolla los conocimientos y las habilidades con el apoyo de 
herramientas tecnológicas y siempre alístate para brindar asistencia a 
tus estudiantes.</li>
<li >Revisa los documentos y las direcciones web incluidas en tu curso, para que sean exactas y estén actualizadas.</li>
<li >Continuamente amplía tus conocimientos sobre la disciplina que estás enseñando.</li>
</ul><div ><br></div>

<h2 >Reflexión</h2><div >
<br></div><ul >
<li >Provee oportunidades a los estudiantes para que tomen en cuenta diferentes perspectivas y opiniones.</li>
<li >Contribuye con los debates y discusiones en línea, a través de mensajes reflexivos que sinteticen la información y las ideas.</li>
<li >Presenta las ideas a partir de múltiples áreas y disciplinas.</li><li >Se respeta la autonomía de reflexión , en la responsabilidad del hacer y el pensar en la colaboración o la discrepancia.</li><li >Soltar la certidumbre sobre un saber, mirando de nuevo si lo que se piensa que es válido, sigue siéndolo o ya no. (Maturana, 2010)</li><div ><br ></div>
</ul><div ><br></div>

<h2 >Creatividad</h2><div >
<br></div><ul >
<li >Manifiesta y fomenta la creatividad en el ambiente del curso virtual.</li>
<li >Establece un ambiente propicio para aprender y crear.</li>
<li >Promueve la colaboración y la comunicación estudiante-estudiante.</li>
</ul><div ><br></div>
<h2 >Respeto</h2><div >
<br></div><ul >
<li >Trata a tus estudiantes con cortesía y respeto.</li><li >Todos surgimos como legítimos en convivencia con todos.</li>
<li >Piensa antes de comunicarte; evita comentarios despectivos, desdeñosos o demasiado críticos.</li>
<li >Facilita la comunicación y la interacción, proporcionando a tus 
alumnos una retroalimentación, recursos y orientación que le sean 
útiles.</li>
<li >Toma en cuenta el derecho a la privacidad de tus estudiantes, cuando
 diseñes e implementes actividades, o bien, cuando le envíes mensajes a 
través de la plataforma o del correo electrónico.</li>
<li >Valora y acepta la diversidad, permitiendo las diferentes opiniones que los estudiantes puedan tener.</li>
<li >Revisa regularmente el curso en cuanto a su accesibilidad y la necesidad de mejoras.</li>
<li >Mantén a tus estudiantes seguros; ocúpate de manera cuidadosa y 
oportuna de los aspectos relacionados con conductas inapropiadas.</li>
<li >Solicita retroalimentación a tus estudiantes y utilízala para hacer 
ajustes al curso, atender sus necesidades individuales y mejorar tus 
habilidades de comunicación e interacción con ellos.</li>
</ul><div ><br></div>

<h2 >Ética</h2><ul >
<li >Provee una descripción precisa acerca de tu trayectoria personal y profesional.</li>
<li >Predica con el ejemplo un comportamiento ético y enséñalo a tus estudiantes.</li>
<li >Cumple con las leyes de derechos de autor y da el crédito correspondiente al trabajo de los demás.</li>
<li >Establece e implementa un sistema de evaluación diseñado para medir con eficacia el rendimiento de los estudiantes.</li>
<li >Conoce a tus estudiantes lo suficiente como para proporcionarles 
recomendaciones que les sean de ayuda para su educación o empleo 
futuros.</li>
<li >Esfuérzate por conseguir la excelencia.</li><li >La ética es el ámbito de las conductas de relación que surgen cuando nos importa lo que le pasa al otro con lo que uno hace, por que al otro o a la otra también le importamos. (Maturana,2010)</li><div ><br ></div>
</ul><div ><br></div>
<br ><br >
<br >
Fuente: Basado en los preceptos de Camuse, 2010 y Maturana,2010 &nbsp;<div ><br ></div><div ><br ></div><div >


    </section>
</main>
