<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <strong >Privacidad de los datos personales:</strong></p><p style="color: #444444" >Sus
 datos personales le corresponden solo a usted y <a href="http://edx.institutofrancisbacon.mx"   rel="noreferrer">edx.institutofrancisbacon.mx</a> es 
responsable de no revelar ninguna clase de información que le pertenezca
 (como email, números de ip, etc.), salvo su expresa autorización o 
fuerzas de naturaleza mayor de tipo legal que lo involucren, como 
hackeos o suplantaciones.</p><p style="color: #444444" ><strong >Responsabilidad de las opiniones vertidas:</strong></p><p style="color: #444444" >Las
 publicaciones a modo de artículos (también llamados posts) son 
responsabilidad del autor del blog. Los comentarios, vertidos por los 
visitantes, son responsabilidad de ellos mismos y en caso alguno viole 
las reglas mínimas de respeto a los demás y a las buenas costumbres, 
éstos serían borrados por el editor del blog, sin esperar su 
consentimiento.</p><p style="color: #444444" ><strong >Seguridad de su información personal:</strong></p><p style="color: #444444" ><a href="http://edx.institutofrancisbacon.mx"   rel="noreferrer">edx.institutofrancisbacon.mx</a> se hace responsable de velar por su seguridad, por la 
privacidad de su información y por el respeto a sus datos, de acuerdo 
con las limitaciones que la actual Internet nos provee, siendo 
conscientes que no estamos excluídos de sufrir algún ataque por parte de
 crackers o usuarios malintencionados que ejerzan la delincuencia 
informática.</p><p style="color: #444444" ><strong >Obtención de su información:</strong></p><p style="color: #444444" >Todos
 sus datos personales consignados en este sitio son suministrados por 
usted mismo, haciendo uso entero de su libertad. La información aqui 
almacenada solo comprende datos básicos ingresados mediante formularios 
de contacto, comentarios u otros similares.</p><p style="color: #444444" ><strong >Uso de la información:</strong></p><p style="color: #444444" >Al
 proporcionarnos sus datos personales, estando de acuerdo con la 
Política de Privacidad aquí consignada, nos autoriza para el siguiente 
uso de su información: a) para el fin mismo por lo cual se ha 
suministrado; b) para considerarlo dentro de nuestras estadísticas de 
tráfico, incrementando así nuestra oferta publicitaria y de mercado; c) 
para orientar mejor los servicios aquí ofrecidos y valorarlos a su 
criterio, y d) para enviar e-mails con nuestros boletines, responder 
inquietudes o comentarios, y mantener informado a nuestros usuarios.</p><p style="color: #444444" ><strong >Uso de los&nbsp;<em >cookies</em>:</strong></p><p style="color: #444444" >El
 uso de cookies y su dirección IP, tomados por <a href="http://edx.institutofrancisbacon.mx"   rel="noreferrer">edx.institutofrancisbacon.mx</a>, se realiza 
solo con la finalidad de mantenerles un sitio de acuerdo a sus 
preferencias locales (tales como navegador web usado, sistema operativo,
 ISP, etc.). Las "cookies" permiten entregar un contenido ajustado a los
 intereses y necesidades de nuestros usuarios/visitantes. También 
podrían usarse cookies de Terceros que estén presentes en esta plataforma, 
como anunciantes o publicidad del mismo, con el único fin de proveer 
informaciones adicionales o reelevantes a la Navegación del Usuario en&nbsp;<a href="http://edx.institutofrancisbacon.mx"   rel="noreferrer">edx.institutofrancisbacon.mx</a>.</p><p style="color: #444444" >Modificaciones a nuestras Políticas de Privacidad:</p><p style="color: #444444" ><a href="http://edx.institutofrancisbacon.mx"   rel="noreferrer">edx.institutofrancisbacon.mx</a> se reserva el derecho de modificar, rectificar, alterar, 
agregar o eliminar cualquier punto del presente escrito en cualquier 
momento y sin previo aviso, siendo su responsabilidad el mantenerse 
informado del mismo para una adecuada administración de su información.</p>




    </section>
</main>
